{% extends 'base.html' %}
{% block main %}
     {% for post in post_list%}
                <article class="post post-1">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="{% url 'detail' post.id %}">{{ post.title }}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">Django 博客教程</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date">{{ post.create_time }}</time></a></span>
                            <span class="post-author"><a href="#">{{ post.author }}</a></span>
                            <span class="comments-link"><a href="#">4 评论</a></span>
                            <span class="views-count"><a href="#">588 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>{{ post.excerpt|safe }}</p>
                        <div class="read-more cl-effect-14">
                            <a href="{% url 'detail'  post.id %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>
                {% empty %}
                    <div class="entry-content clearfix">
                        <p>暂时没发布文章</p>
                    </div>
                {% endfor %}


                <!-- 简单分页效果
                <div class="pagination-simple">
                    <a href="#">上一页</a>
                    <span class="current">第 6 页 / 共 11 页</span>
                    <a href="#">下一页</a>
                </div>
                -->
                <div class="pagination">
                    <ul>
                        <li><a href="">1</a></li>
                        <li><a href="">...</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li class="current"><a href="">6</a></li>
                        <li><a href="">7</a></li>
                        <li><a href="">8</a></li>
                        <li><a href="">...</a></li>
                        <li><a href="">11</a></li>
                    </ul>
                </div>
{% endblock main %}
{%block toc %}
     <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    <ul>
                        {% for post in  get_recent_posts%}
                            <li>
                                <a href="#">{{ post.title }}</a>
                            </li>
                        {% empty %}
                            <li>
                                <a href="#">暂无文章</a>
                            </li>
                        {% endfor%}

                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    <ul>
                        {% for archive in archives %}
                            <li>
                                <a href="#">{{ archive.create_time }}</a>
                            </li>
                        {% empty %}
                             <li>
                                <a href="#">暂无归档</a>
                            </li>
                        {% endfor %}


                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    <ul>
                        {% for category in get_categories %}
                            <li>
                                <a href="#">{{ category.name }} <span class="post-count">(13)</span></a>
                            </li>
                        {% empty %}
                             <li>
                                <a href="#">暂无分类<span class="post-count"></span></a>
                             </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    <ul>
                         {% for tag in get_tags %}
                        <li>
                            <a href="#">{{ tag.name }}</a>
                        </li>
                        {% empty %}
                              <li>
                                    <a href="#">暂无标签</a>
                              </li>
                        {% endfor %}


                    </ul>
                </div>
                <div class="rss">
                    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                </div>
{% endblock toc %}